#navbar{
    flex-direction: column;

}
#home{
    height:280px;
    flex-direction:column ;
    padding:3px 68px;
}
#home p{
    font-size: 13px;
}
#services{
    flex-direction: column;
}
h1{
    font-size: 18px;
}
.h-primary{
    font-size: 28px;
}
.services{
    display:block;
}